body {
    margin: 0;
    text-align:center;
}

.container {
    display: flex;
}
#banner {
    width: 100%;
    height: 320px;
    object-fit:cover;
}

#side-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: #e6e7ed;
}

@media (max-width: 800px) {
    #side-header {
        flex-direction: row;
        justify-content:space-evenly
    }
    #banner {
        width: 100%;
        height: 120px;
        object-fit:cover;
    }        
}

#main-content {
    flex-grow: 1;
    padding: 20px;
    text-align: left;
}

a.active {
    outline: 2px solid black; /* Outline for active link */
}


.image-thumb {
    height: 250px;
    border-radius: 10px;
    filter: contrast(30%) invert(100%);
}

.image-title {
    margin: 0px;
    position: relative;
    text-align: center;
}
.image-text {
    opacity: 0;
    position: relative;
    transition: opacity 0.3s ease;
    margin: 5px;
    text-align: left;
}

.image-container {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    margin: 10px;
    width: 300px;
    align-items: center;
}

.image-container:hover .image-text {
    opacity: 1;
}

.image-container:hover .image-thumb {
    filter: none;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}